html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
}

.small-input {
  display: flex;
  justify-content: space-between;
}

.input-align {
  flex-basis: 45%;
}

#category-dropdown {
  flex-basis: 45%;
  align-self: center;
  height: 70%;
}
